*, body {
  font-family: 'Open Sans', sans-serif;
}
.App {
  text-align: left;
}
.App-title {
  margin: 20% 0 0 20%;
}
.App-subtitle {
  margin: 0 0 0 25%;
}
.Content {
  margin: 125px auto;
  width: 700px;
}